---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import Dual from "../components/Dual.astro";
import Slider from "../components/Slider.astro";
import DualInvert from "../components/DualInvert.astro";
import CardGrid from "../components/CardGrid.astro";
import Container from "../components/Container.astro";
import Gallery from "../components/Gallery.astro";

import { slider, dual } from "../../vinos-y-tapas.json";
---

<Layout>
  <main class="text-lg"> 
    <Slider data={slider} />
    <Dual data={dual}/>
  </main>
</Layout>
