<section class="flex flex-col items-center justify-center">
  <div class="flex flex-col items-center justify-center px-40 py-5">
    <h2 class="font-bold text-2xl text-wrap pb-3">
      ¿No sabes dónde desayunar en Ferrol? Cafetería mac es la solución
    </h2>
    <p class="font-thin text-md text-wrap text-center">
      Si quieres desayunar en Ferrol, ¡anímate a venir a Cafetería mac y prueba
      nuestras especialidades matutinas! Ofrecemos diversos desayunos para
      comenzar el día con energía. Tostadas, zumos, cafés, bollerías... Tenemos
      algo para todos los gustos. ¡Ven a disfrutar de un delicioso desayuno en
      Ferrol!
    </p>
  </div>
  <div class="flex flex-row gap-10 px-20">
    <article class="flex flex-col p-4 gap-3 shadow-xl bg-white w-auto">
      <img
        src="/images/cafes-infusiones.jpg"
        alt="Café"
        class="h-1/2 overflow-hidden w-full"
      />
      <h3 class="font-bold text-xl text-wrap">Cafés e infusiones</h3>
      <p class="font-thin">
        En nuestra cafetería en Ferrol mimamos tu paladar con una variedad de
        cafés e infusiones excepcionales. Desde el espresso más intenso hasta
        las infusiones relajantes, tenemos la bebida perfecta para ti.
      </p>
    </article>
    <article class="flex flex-col p-4 gap-3 shadow-xl bg-white">
      <img
        src="/images/tostadas.jpg"
        alt="Café"
        class="h-1/2 overflow-hidden w-full"
      />

      <h3 class="font-bold text-xl text-wrap">Tostadas variadas</h3>
      <p class="font-thin">
        Nuestras tostadas son el lienzo en blanco perfecto para tus gustos
        matutinos. Desde tostadas con aguacate hasta las clásicas con mermelada,
        ofrecemos una selección variada que se adapta a tu preferencia.
      </p>
    </article>
    <article class="flex flex-col p-4 gap-3 shadow-xl bg-white">
      <img
        src="/images/zumos.jpg"
        alt="Café"
        class="h-1/2 overflow-hidden w-full"
      />

      <h3 class="font-bold text-xl text-wrap">Zumos naturales</h3>
      <p class="font-thin">
        Para un impulso de energía fresca, nuestros zumos naturales son
        insuperables. Preparados con frutas frescas, ofrecen un sabor vibrante y
        nutritivo. Una forma refrescante de comenzar el día.
      </p>
    </article>
    <article class="flex flex-col p-4 gap-3 shadow-xl bg-white">
      <img
        src="/images/bolleria.jpg"
        alt="Café"
        class="h-1/2 overflow-hidden w-full"
      />

      <h3 class="font-bold text-xl text-wrap">Bollería</h3>
      <p class="font-thin">
        ¿Tienes un antojo dulce? Nuestra bollería recién horneada es la
        respuesta. Desde croissants dorados hasta donuts esponjosos, deleita tus
        sentidos con nuestros manjares de bollería.
      </p>
    </article>
  </div>
</section>
