---
const all = Astro.props.data;
const data = all[0];
---

<section class="dual-section">
  <div class="dual-container flex flex-row m-5 px-20 mb-10 items-center">
    <div
      class="flex flex-col items-ceter justify-center gap-8 text-wrap p-5 py-20 w-1/2"
    >
      <h2 class="font-custom font-script text-4xl text-wrap">
        {data.title}
      </h2>
      {data.description.map((description) => (
        <p class="font-thin tracking-wider">
          {description}
        </p>
      ))}
    </div>
    <div class="flex justify-center h-full items-center w-1/2">
      <img
        class="object-center max-w-full"
        loading="lazy"
        src={data.image}
        alt="Jamon y Vino"
      />
    </div>
  </div>
</section>
