<footer class="p-4 md:p-8 lg:p-1 border-t-2 border-gray-100">
  <div class="mx-auto max-w-screen-xl text-center mt-2">
    <a
      href="#"
      class="flex justify-center items-center text-3xl font-script"
    >
      <img class="h-8 mr-3" src="/favicon.svg" />
    </a>
    <p class="my-6 font-thin">
      En Cafetería mac encontrarás los mejores vinos, pinchos, helados,
      bocadillos... Disponemos de unas instalaciones modernas y acogedoras.
    </p>
    <ul class="flex flex-wrap justify-center items-center mb-6 font-thin">
      <li>
        <a href="#" class="mr-6 hover:underline md:mr-6"
          >Avda. Mac Mahón, 1 Bajo - 15403 Ferrol (A Coruña)</a
        >
      </li>
      <li>
        <a href="#" class="mr-6 md:mr-6">981 300 419</a>
      </li>
      <li>
        <a href="#" class="">info@cafeteriamac.es</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2021-2022 <a href="#" class="hover:underline">Cafetería Mac™</a>. Todos
      los derechos reservados.</span
    >
  </div>
</footer>
