<section class="grid-container flex flex-col items-center justify-center pt-20 pb-30 bg-gray-200 mb-20">
  <h2 class="center text-3xl font-bold italic pb-5">Descubre lo que nos hace únicos en Ferrol</h2>
  <div class="grid grid-cols-2 justify-center items-center custom-grid gap-x-20">
    <div class="grid-item flex flex-col items-center text-center px-20 py-5 text-wrap">
      <a href="/">
        <img src="/images/ico-terrazas.svg" alt="Terrace" class="grid-image w-20 mb-3" />
      </a>
      <h3 class="mb-5 text-red-600 text-xl italic">2 terrazas disponibles</h3>
      <p class="font-thin">
        En Catefería mac ofrecemos no una, ¡sino dos terrazas! Disfruta de
        tu café o cerveza al aire libre en nuestro{" "}
        <strong>espacio acogedor y soleado</strong> o bajo la sombra. La
        elección es tuya para vivir una experiencia única en un bar con
        terraza en Ferrol.
      </p>
    </div>
    <div class="grid-item flex flex-col items-center text-center px-20 py-5  text-wrap">
      <a href="/">
        <img
          src="/images/ico-retransmisiones.svg"
          alt="Sports Retransmission"
          class="w-20 mb-3"
        />
      </a>
      <h3 class="mb-5 text-red-600 text-xl italic">Retransmisiones deportivas</h3>
      <p class="font-thin">
        Amamos el deporte tanto como tú. Disfruta de emocionantes{" "}
        <strong>partidos y eventos deportivos</strong> en vivo en nuestro
        bar en Ferrol. Cerveza, amigos y la pasión del deporte, ¡todo en un
        solo lugar!
      </p>
    </div>
    <div class="grid-item flex flex-col items-center text-center px-20 py-5  m-0.5 text-wrap">
      <a href="/">
        <img src="/images/ico-helados.svg" alt="Ice Cream" class="grid-image w-20 mb-3" />
      </a>
      <h3 class="mb-5 text-red-600 text-xl italic">Amplia carta de helados</h3>
      <p class="font-thin">
        Si tienes un antojo de dulce, estás de suerte. Ofrecemos una amplia
        carta de helados con sabores deliciosos. Desde los{" "}
        <strong>clásicos</strong> hasta los más{" "}
        <strong>extravagantes</strong>, encontrarás el helado perfecto para
        satisfacer tus deseos.
      </p>
    </div>
    <div class="grid-item flex flex-col items-center text-center px-20 py-5 m-0.5 text-wrap">
      <a href="/">
        <img src="/images/ico-tapas.svg" alt="Tapas and wines" class="grid-image w-20 mb-3" />
      </a>
      <h3 class="mb-5 text-red-600 text-xl italic">Tapas y Vinos</h3>
      <p class="font-thin">
        Explora nuestra selección de tapas exquisitas y acompáñalas con una
        cuidadosa selección de vinos. En Catefería mac te llevaremos en un <strong>viaje de sabores
        </strong> que harán que tu paladar baile de
        alegría.
      </p>
    </div>
  </div>
</section>
